html, body, #app-container, #content {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Tahoma, Geneva, sans-serif;
}

.transition (@transition-property, @transition-time, @method) {
    -webkit-transition: @transition-property @transition-time @method;
    -moz-transition: @transition-property @transition-time @method;
    -ms-transition: @transition-property @transition-time @method;
    -o-transition: @transition-property @transition-time @method;
    transition: @transition-property @transition-time @method;
}

.demo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #eee;
  .sources {
    position: fixed;
    top: 20px;
    left: 20px;
  }
}
