.error-404 {
	position: fixed;
	overflow: auto;
	height: 100%;
	width: 100%;
	background-color: #fff;
	display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
	display: -ms-flexbox;           /* TWEENER - IE 10 */
	display: -webkit-flex;          /* NEW - Chrome */
	display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	justify-content: center;
	align-items: center;
	flex-direction: column;
	a {
		position: fixed;
		width: 100%;
		text-align: center;
		font-size: 24px;
		text-decoration: none;
		color: #667;
		cursor: pointer;
	}
}