.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 48px;
  color: #ccc;
  border: solid 1px #999;
  @keyframes loading-pulse {
      0%   { filter: brightness(1); }
      50%  { filter: brightness(1.2); }
      100% { filter: brightness(1); }
  }
  animation-name: loading-pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: 999;
}

.loading-enter {
  opacity: 0.01;
}

.loading-enter.loading-enter-active {
  transition: opacity 0.3s linear;
  opacity: 1;
}

.loading-leave {
  opacity: 1;
}

.loading-leave.loading-leave-active {
  transition: opacity 0.3s linear;
  transition-delay: 1s;
  opacity: 0.01;
}