@import (reference) "App.less";
.users-table {
	@radius: 3px;
	background-color: #fafafa;
	width: 90%;
	border-radius: @radius;
	box-shadow: 3px 3px 3px #aaa;
	.users-table-row {
		display: flex;
		flex-direction: row;
		margin: 5px;
		.users-table-column {
			outline: none;
			border: none;
			font-size: inherit;
			background-color: #fff;
			padding: 10px;
			justify-content: space-around;
			flex-grow: 4;
		}
		.users-table-column-firstname {
			width: 25%;
		}
		.users-table-column-lastname {
			width: 25%;
		}
		.users-table-column-email {
			width: 45%;
		}
		.users-table-column-operations {
			flex-grow: 1;
			width: 5%;
			text-align: center;
			color: #fff;
			margin-left: 5px;
			border-radius: @radius;
			cursor: pointer;
		}
		.users-table-column-remove {
			background-color: #B42B35;
			.transition(background-color, 0.2s, linear);
			&:hover {
				background-color: #E23440;
				.transition(background-color, 0.2s, linear);
			}
		}
		.users-table-column-add {
			background-color: #68B448;
			.transition(background-color, 0.2s, linear);
			&:hover {
				background-color: #78CF52;
				.transition(background-color, 0.2s, linear);
			}
		}
		.users-table-column-filter {
			background-color: #fafafa;
			color: #aaa;
			cursor: default;
		}
		.users-table-input-validation {
			position: fixed;
			bottom: 5%;
			display: block;
			padding: 6px;
			color: #E23440;
			width: 90%;
			text-align: center;
			font-size: 36px;
		}
	}
	.users-table-row.users-table-filter-row {
		input {
			color: #3F98D6;
		}
		::-webkit-input-placeholder {
		   color: #ddd;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: #ddd;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: #ddd;  
		}

		:-ms-input-placeholder {  
		   color: #ddd;  
		}
	}
}